body{
    background-color: #263238;
    #app{
        color: #fff;
        text-align: center;
    }
    .card-bord{
        border: 2px solid #4fc08d !important;
        background-color: transparent !important;
        border-radius: 5px;
    }
}